target
node_modules
dist
.tmp
.sass-cache
app/bower_components
logs
log.instance.dir_IS_UNDEFINED
e2e-reports

.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

.externalToolBuilders/

*.launch
.idea/
*.iml
classes/